<!DOCTYPE html>
<html lang="en">
<head>
    <!-- create by cm -->
    <meta charset="UTF-8">
    <link rel="stylesheet" href="__PUBLIC__/css/home/personal.css">
    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <title>张家港工程项目协同创新服务平台档-个人中心</title>
    <style>
		.lf{
			margin-top:20px; 
			float: left;
		}
		#todo{
			width: 500px;
		}
		#system_message{
			width: 400px;
			margin-left: 50px;
		}
		.require_list{
			height: 40px;
			line-height: 40px;
			border-bottom: 2px dotted #52A8DE;
		}
		.require_list  a{
			color: #1B8DEF;
		}
		.require_list > a{
			float: right;
		}
		#system_message{
			float: left;
			width: 45%;
		}
    </style>
    <!-- [if IE lt 10] -->
    	<style>
			img{
				border: none;
			}
    	</style>
    <!-- [endif] -->
</head>
<body>
	
    <include file = "Public/person_nav" />

    <div id="body">
    	<!-- 待办事项 居左浮动，50%-->
    	<div id="todo" class="lf">
    		<img src="__PUBLIC__/images/todo.png" alt="">

    		<volist name="list" id="list">
    			<div class="require_list">
	    			<span>
	    				<?php if ($list['type'] == 1): ?>
	    					<!-- 专家用户 -->
	    					<a href="{:U('Expert/expert',array('id'=>$list['request_id']))}">{$list.realname}</a>
	    				<?php else: ?>
	    					<?php if($list['type'] == 2): ?>
	    						<!-- 企业用户，详细信息 -->
	    						<a href="#">{$list.realname}</a>
	    					<?php else: ?>
	    						<!-- 个人用户 -->
	    						<a href="#">{$list.realname}</a>
	    					<?php endif ?>
	    				<?php endif ?>
	    			</span>
	    			给你发来一条信息
	    			<a href="{:U('Personal/link_info',array('id'=>$list['link_id']))}">[详情]</a>
	    		</div>
	    	</volist>
    		<?php if ($link_info == null && $no_link != null): ?>
    			<div class="require_list">
	    			<h3>暂无联系消息</h3>
	    		</div>
    		<?php endif ?>
    		
    	</div>
    	<!-- 系统信息 居右浮动 -->
    	<div id="system_message" class="lf">
    		<img src="__PUBLIC__/images/system_message.png" alt="">
    		<div class="require_list">
    			<h3>暂无系统消息</h3>
    		</div>
    	</div>
    </div>
    <include file="Public/footer" />
</body>
<script>
   $(function(){
        $('#personal_center').addClass('focus').siblings().removeClass('focus');
   });
</script>
</html>