<!DOCTYPE html>
<html lang="en">
<head>
    <!-- create by cm -->
    <meta charset="UTF-8">
    <link rel="stylesheet" href="__PUBLIC__/css/home/research.css">
    <link rel="stylesheet" href="__PUBLIC__/css/home/nav.css">
    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <title>张家港工程项目协同创新服务平台</title>
    <style>
        .link_img button{
            background: #72CEDD;
            color: #FAFDFD;
            font-weight: 700;
            border: 2px solid #0999B1;
            border-radius: 5px;
            padding: 5px 10px;
            cursor: pointer;
        }
        .link_img button:hover{
            background: #0F93A9;
            color: white;
        }
    </style>
</head>
<body>
    <include file="Public/nav"/>
    <div class="main">
        <div>
            <img src="__PUBLIC__/images/download_06.png">
            <span>您的位置：</span>
            <a href="__ROOT__">首页</a>
            <span>></span>
            <a href="{:U('Demand/demandlist')}">企业需求</a>
            <span>></span>
            <a href="#">需求详情</a>
        </div>
       
        <h3 class="caption">需求名称</h3>
        <table>
            <tr>
                <td class="logo" rowspan="8">
                    <img src="__ROOT__/{$demandInfo.demand_logo}" alt="">
                </td>
                <td colspan="2" style="text-align:center;"><b class="research_title">{$demandInfo.title}</b></td>
            </tr>
            <tr>
                <td class="tip">发布企业</td>
                <td class="content">{$comInfo.realname}</td>
            </tr>
            <tr>
                <td class="tip">需求类型</td>
                <td class="content">{$demandInfo.demand_type}</td>
            </tr>
            <tr>
                <td class="tip">发布时间</td>
                <td class="content">{$demandInfo.publish_time}</td>
            </tr>
            <tr>
                <td class="tip">截止时间</td>
                <td class="content">{$demandInfo.end_time}</td>
            </tr>
             <tr>
                <td class="tip">企业标签</td>
                <td  class="content">{$comInfo.company_type}</td>
            </tr>
             
             <tr>
                <td class="tip">主营方向</td>
                <td class="content">{$comInfo.research}</td>
            </tr>
             
            <tr>
                <td colspan="2" class="link_img">
                    <!-- <a href=""><img src="__PUBLIC/images/" alt="点击收藏"></a> -->
                    <?php if (session('uid')): ?>
                        <a href="{:U('Public/link',array('id'=>$demandInfo['demand_id'],'linkType'=>3))}" target="_black">
                            <button>我要联系</button>
                        </a>
                    <?php else: ?>
                        <a href="{:U('Public/login')}" target="_black">
                            <button>我要联系</button>
                        </a>
                    <?php endif ?>
                   
                    
                </td>
            </tr>
        </table>
        <table class="table-fixed">
            <tr>
                <td class="tip" rowspan="3">需求简介</td>
                <td class="tip">综合介绍</td>
                <td class="research_info">
                    <span>
                        {$demandInfo.total_info}
                    </span>
                   
                </td>
            </tr>
            <tr>
                <td class="tip">技术指标</td>
                <td class="research_info">
                    <span>
                        {$demandInfo.tech_target}
                    </span>
                   
                </td>
            </tr>
            <tr>
                <td class="tip">其他说明</td>
                <td class="research_info">
                    <span>
                        {$demandInfo.other_info}
                    </span>
                    
                </td>
            </tr>
        </table>
        <h3 class="caption">企业联系方式</h3>
        <table class="table-fixed">
            <tr>
                <td class="tip">企业电话</td>
                <td class="owner_info">{$comInfo.mobile_phone}</td>
                <td class="tip">企业邮箱</td>
                <td class="owner_info">{$comInfo.email}</td>
            </tr>
            <tr>
                <td class="tip">企业官网</td>
                <td class="owner_info">{$comInfo.website}</td>
                <td class="tip">企业地址</td>
                <td class="owner_info">{$comInfo.area}</td>
            </tr>
        </table>
        <h3 class="caption">企业联系人</h3>
        <table class="table-fixed">
            <tr>
                <td class="tip">姓名</td>
                <td class="owner_info">{$comInfo.linkman}</td>
                <td class="tip">职务</td>
                <td class="owner_info">{$comInfo.jobname}</td>
            </tr>
            <tr>
                <td class="tip">联系方式</td>
                <td class="owner_info">{$comInfo.link_phone}</td>
                <td class="tip">E-mail</td>
                <td class="owner_info">{$comInfo.linkEmail}</td>
            </tr>
        </table>
    </div>
    <include file="Public/footer"/>
</body>
</html>
