<!doctype html>
<html>
<head>
    <!-- create by cm -->
    <meta charset="utf-8">
    <title>张家港工程项目协同创新服务平台</title>
    
    <link href="__PUBLIC__/css/home/nav.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="__PUBLIC__/css/home/cooperation.css">
     <!-- [if IE lt 10] -->
        <link rel="stylesheet" href="__PUBLIC__/css/home/ltIE8.css">
    <!-- [endif] -->
</head>

<body>
    <include file="Public/nav"/>
    
    <div id="main">
        <div class="position">
            <img src="__PUBLIC__/images/download_06.png">
            您的位置：
            <a href="__ROOT__">首页</a>
            <sapn>&nbsp;>&nbsp;</sapn>
            <a href="{:U('News/newslist')}">信息资讯</a>
            <sapn>&nbsp;>&nbsp;</sapn>
            <?php if ($info['type'] == 0): ?>
                <a href="#">政策法规</a>
            <?php else: ?>
                <a href="#"><?php echo ($info['type'] == 1)?'市场动态':'业内资讯';?></a>
            <?php endif ?>
            
        </div>
        <div class="left-list">
            <div class="mainbtn">
                <div class="navlist">
                    <a href="{:U('News/newslist')}">信息咨询</a>
                </div>
                 <div class="navlist">
                    <a href="{:U('News/newslist',array('type'=>3))}">政策法规</a>
                </div>
                <div class="navlist">
                    <a href="{:U('News/newslist',array('type'=>1))}">市场动态</a>
                </div>
                <div class="navlist">
                    <a href="{:U('News/newslist',array('type'=>2))}">业内资讯</a>
                </div>
            </div>
        </div>
        <div class="right_content">
            <div class="title">
                 <h2>{$info.title}</h2>
                 <span>发布时间：{$info.publish_time}</span>&nbsp;&nbsp;
                 <span>点击量：{$info.click}次</span>
            </div>
            <div id="news_content">
                {$info.content}
            </div>

            <div class="next">
                <p>
                    上一篇：
                        <?php if ($past): ?>
                            <a href="{:U('News/news',array('id'=>$past['news_id']))}">{$past.title}</a>
                        <?php else: ?>
                            没有了
                        <?php endif ?>
                </p>
                <p>
                    下一篇：
                    <?php if ($next): ?>
                        <a href="{:U('News/news',array('id'=>$next['news_id']))}">{$next.title}</a>
                    <?php else: ?>
                        没有了
                    <?php endif ?>
                    
                </p>
                
            </div>
        </div>
    </div>
    <div style="clear:both"></div>
    <include file="Public/footer"/>

    <script src="__PUBLIC__/js/content_footer.js"></script>
    <script>
        var hereNode = document.getElementById('nav_news');
        var childnode = hereNode.parentNode.childNodes.className = "nav-tip";
        hereNode.className = " nav-tip nav_active ";
    </script>
</body>

</html>
