<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>张家港工程项目协同创新服务平台</title>
    
    <link href="__PUBLIC__/css/home/listpage.css" rel="stylesheet" type="text/css">
    <link href="__PUBLIC__/css/home/nav.css" rel="stylesheet" type="text/css">
    <!-- create by cm -->
    
     <!-- [if IE lt 10] -->
        <link rel="stylesheet" href="__PUBLIC__/css/home/ltIE8.css">
    <!-- [endif] -->
</head>

<body>
    <include file="Public/nav"/>
    <div class="bannerbox">
        <img src="__PUBLIC__/images/newsbanner.png">
    </div>
    <div class="infolist-main">
        <div class="leftmain">
            <div class="mainlefttitle"><img src="__PUBLIC__/images/news_03.png"></div>
            <div class="mainbtn">
                <div class="navlist active">
                    <a href="{:U('CalssicCase/caselist')}">典型案例</a>
                </div>
            </div>
        </div>
        <div class="rightmain">
            <div class="top-tip" style="border-bottom:1px dotted #ccc;padding-bottom:20px;
            margin-bottom:30px">
                <div id="page-title">
                    <img src="__PUBLIC__/images/download_09.png">典型案例
                </div>
                <div id="position">
                    <a href="#">典型案例</a>
                    <p>&nbsp;>&nbsp;</p>
                    <a href="{:U('Index/index')}">首页</a>
                    <p>您的位置：</p>
                    <img src="__PUBLIC__/images/download_06.png">
                </div>
            </div>
            <volist id="list" name="list">
                <div class="info-list <?php if($i % 2 == 0) echo ' grey';?>">
                    <div class="info-title" >
                        <span>
                            <a href="{:U('ClassicCase/cases',array('id'=>$list['case_id']))}" title="{$list.case_title}">
                                {$list.case_title}
                            </a>
                        </span>
                        <span  id="linkbutton">{$list.publish_time}</span>
                    </div>                           
                </div>
            </volist>
        </div>
        <div id="paging">
            {$page}
        </div>
    </div>
    
    <include file="Public/footer"/>

    <script src="__PUBLIC__/js/list_footer.js"></script>
</body>
<script>
    var hereNode = document.getElementById('nav_classic');
    var childnode = hereNode.parentNode.childNodes.className = "nav-tip";
    hereNode.className = " nav-tip nav_active ";

</script>
</html>
