<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>张家港工程项目协同创新服务平台-后台管理</title>

	<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
	<script src="__PUBLIC__/assets/ie-emulation-modes-warning.js"></script>

</head>
<body>
	<table class="table table-bordered table-striped">
		<tr>
			<th>序号</th>
			<th>用户名</th>
			<th>用户类型</th>
			<th>真实姓名</th>
			<th>编辑</th>
		</tr>
		<volist name="list" id="a">
			<tr>
				<td><?php echo $i+C('PAGE_NUM',null,5)*(I('get.p',1,int)-1); ?></td>
				<?php if ($a['type'] == 1): ?>
					<td><a href="{:U('Home/Expert/expert',array('id'=>$a['id']))}" target="_blank">{$a.username}</a></td>
					<td>专家</td>
				<?php else: ?>
					<td>{$a.username}</td>
					<td><?php echo ($a['type'] == 2)?"企业用户":"普通用户";?></td>
				<?php endif ?>
				<td>
					{$a.realname}
				</td>
				<td>
					<a href="javascript:void(0)" id="user_list-{$a.id}" value="{$a.id}" onclick="del(this)">删除用户</a>
				</td>
			</tr>
		</volist>
	</table>
	{$page}

	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="__PUBLIC__/js/jquery-1.11.1.min.js"></script>
	<script src="__PUBLIC__/js/bootstrap.min.js"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="__PUBLIC__/assets/ie10-viewport-bug-workaround.js"></script>
	<script src="__PUBLIC__/js/master/fixiframe.js"></script>
	<script>
		function del (obj) {
			if(confirm("确定要删除这位用户？")){
				var id = document.getElementById(obj.id).getAttribute("value");
				console.log(id);
				window.location.href="__ROOT__/index.php/Master/User/del/id/"+id;
			}
		}
	</script>
</body>
</html>