@charset "utf-8";
/* CSS Document */
*{	margin: 0;	padding: 0;}
body{ font-size:12px;}
img{ display:block; border:none;}
h1,p,a{ font-size:12px; text-decoration:none; padding:0;}
a{cursor: pointer;}
input{outline:none; color:#666; line-height:25px;}


.logobox{float:left;}
.logobox *{float:left;}
.logo{ margin-top:0;}
.line{ margin-top:32px; margin-left:15px; margin-right:15px;}
.logotext h1{font-size:20px; color:#128fbb; margin-top:38px; line-height:20px; float:left;}
.logotext p{ color:#6c6c6c; clear:both;float:left; line-height:10px; letter-spacing:-0.8px; font-family: "Times New Roman", Times, serif}
.smallnav{ float:right; margin-top:20px; color:#6f6f6f;}
.smallnav *{ float:left;}
.tel{ clear:right; float:right; font-size:18px; color:#128fbb; font-family:"微软雅黑"; margin-top:10px; height:}
.smallnav a{color:#6f6f6f;}


.btn2{background-image:url(../images/btn2.png);}


.mainimage{clear:both; float:left; margin-right:27px; margin-bottom:23px;}
.maintext{ margin-bottom:; line-height:24px; margin-bottom:24px; color:#666666;}
.rightmaintitleright p,.rightmaintitleright a{ color:#999;}
.maintext p{line-height:24px;}
.maintext h1{color:#089ccc; font-size:18px; margin-top:50px; margin-bottom:22px;}
.maintext p span{color:#ff7900}
.picture img{margin:0;}
.picture{overflow:hidden;}
.tuoputu{ background-image:url(../images/tuoputu.png); height:858px; width:706px; margin-left:auto; margin-right:auto}
.mainbtntext{padding-left:27px; padding-top:10px;}
.mainbtntext a{line-height:20px;color:#666}
.imagebox{width:353px; height:293px; float:left; margin-bottom:26px;}
.imagebox p{width:353px; text-align:center; line-height:50px; color:#666;}
.mainimage{overflow:hidden}
.mainbanner *{float:left;}
.mainbanner{overflow:hidden; clear:both}
.mainbanner img{margin-right:20px}
.mainbannertext{width:507px;}
.mainbannertext h1{ font-size:14px; color:#128fbb; margin-bottom:20px;}
.mainbannertext p{color:#666; line-height:20px; margin-bottom:10px; clear:both;}
.maintext1{float:left; width:152px;}
.maintext2{float:left;}
.maintext1 p{ line-height:30px; color:#999;}
.maintext2 p a{ line-height:30px; color:#666;}


.newsbox{background-color:#fafafa;}
.news{margin:0 auto; width:1000px; line-height:37px; overflow:hidden;}
.newstitle{color:#0095b9; font-size:14px; font-weight:bold;}
.newstext{ height:37px;}
.news *{float:left}
.newstext p{float:left; clear:left;}
.newstext p a{color:#666;}

.srevices{ margin-top:24px; margin-bottom:6px;}

.column{ margin-left:auto; margin-right:auto; width:1000px; height:333px; position:relative;padding-top:29px;}
.columntitle{ font-size:18px; line-height:35px; background-image:url(../images/columnbackground_05.png); width:156px; border:2px #fff solid; color:#0395c4; font-family:"微软雅黑"; text-align:center;border-radius:10px; height:45px;box-shadow: 0px 1px 20px #ccc; float:left; margin-right:7px;cursor: pointer;}
.columnmain{ position:absolute; top:66px; width:996px;left:0; background-color:#faf8f9;box-shadow: 0px 1px 20px #ccc; height:220px;text-align:left; border:2px #fff solid;;border-radius:5px}
.columntext p a{line-height:22px; color:#333;}
.columntext{margin-left:31px; margin-top:35px; width:285px; position:relative; float:left;}
.columntext h1{margin-bottom:10px; font-weight:blod; font-family:"微软雅黑"; font-size:14px;}
.columntext a img{right:0;top:0; position:absolute;}
.columnline{float:left; margin-top:20px; margin-left:30px;}
.columnpicture{ float:left; margin-top:33px; margin-left:25px; width:229px; height:158px; position:relative;}
.columnpicture span img{position:absolute; top:0; left:0;}
.columntitlemouseenter{background-image:url(../images/columnbackground_07.png);}
.columntitleclick{ color:#fff; background-image:url(../images/columnbackground_03.jpg);}
.columnbtnbox{position:relative;top:133px;left:154px; width:75px; height:25px; z-index:3;}
.columnbtn{width:25px; height:25px; background-color:rgba(0,0,0,0.8); float:left; line-height:25px; text-align:center; color:#fff; font-weight:bold;}


.bottombox{background-image:url(../images/bottombackground.png)}
.bottom{ width:1000px; margin-left:auto; margin-right:auto; padding-top:18px; padding-bottom:18px; overflow:hidden;}
.bottom p{color:#fff; line-height:20px; float:left; clear:both;}
.bottom img{float:left; margin:4px}

