<!doctype html>
<html>
<head>
    <!-- create by cm -->
    <meta charset="utf-8">
    <title>张家港工程项目协同创新服务平台</title>
    
    <link rel="stylesheet" href="__PUBLIC__/css/home/nav.css">
    <link rel="stylesheet" href="__PUBLIC__/css/home/listpage.css">
    <style>
        .top-tip{
            overflow: hidden;
        }
        .line2{
            margin-top: 20px;
        }
    </style>
    <!-- [if IE lt 10] -->
        <link rel="stylesheet" href="__PUBLIC__/css/home/ltIE8.css">
    <!-- [endif] -->
</head>

<body>
    <include file="Public/nav"/>
    <div class="bannerbox">
        <div class="banner">
            <img src="__PUBLIC__/images/aboutusbanner.png">   
        </div>
    </div>
    <div class="infolist-main">
        <div class="leftmain">
            <div class="mainlefttitle"><img src="__PUBLIC__/images/download_03.png"></div>
        </div>
        <div class="rightmain">
            <div class="top-tip">
                <div id="page-title">
                    <img src="__PUBLIC__/images/download_09.png">
                    <sapn>平台简介</sapn>
                </div>
                <div id="position">
                    <a href="#">平台简介</a>
                    <p>&nbsp;>&nbsp;</p>
                    <a href="#">关于我们</a>
                    <p>&nbsp;>&nbsp;</p>
                    <a href="__ROOT__">首页</a>
                    <p>您的位置：</p>
                    <img src="__PUBLIC__/images/download_06.png">
                </div>
            </div>
            <div class="line2">
                <img class="mainimage" src="__PUBLIC__/images/just.jpg">
            </div>
            
           
        </div>
    </div>
    <include file="Public/footer"/>
</body>
<script>
    var hereNode = document.getElementById('nav_index');
    var childnode = hereNode.parentNode.childNodes.className = "nav-tip";
    hereNode.className = " nav-tip nav_active ";
</script>
</html>
