<!doctype html>
<html>
<head>
    <!-- create by cm -->
    <meta charset="utf-8">
    <title>张家港工程项目协同创新服务平台</title>

    <link rel="stylesheet" href="__PUBLIC__/css/home/nav.css">
    <style>
        #body{
            width: 600px;
            min-height: 500px;
            margin:0 auto; 
            padding: 50px;
            text-align: center;
        }
        h1{
            color: #03DCF4;
        }
    </style>
    <!-- [if IE lt 10] -->
        <link rel="stylesheet" href="__PUBLIC__/css/home/ltIE8.css">
    <!-- [endif] -->
</head>
    
<body>
    <include file="Public/nav"/>
    <div id="body">
        <h1>
            网页施工，敬请期待
        </h1>
    </div>
    <include file="Public/footer"/>
    <script src="__PUBLIC__/js/personal_id_body.js"></script>
</body>

</html>
