<div class="topbox">
	<div class="top">
        <img src="__PUBLIC__/images/背景.png">
        <div class="login-tip">
            <?php if(!session('?uid')){ ?>
            	<a href="{:U('Public/login')}">登录</a>
                <span>丨</span>
                <a href="{:U('Signup/signup')}">注册</a>
            <?php }else{ ?>
               <span style="font-size:16px;">欢迎你，</span>
               <span style="font-size:16px;color:#0749E2;"> <?php echo session('realname');?></span>  |
                <a href="{:U('Personal/index')}" style="color:#0749E2;">
                   个人中心 
                </a>|
                <a href="{:U('Public/logout')}">退出</a>
            <?php }?>
        </div>
    </div>
</div>
<div class="nav-background">
    <div class="nav">
        <div class="nav-tip">
            <a href="__ROOT__">网站首页</a>
            <div class="nav-list">
                <p>
                    <a href="{:U('Public/aboutus')}">平台介绍</a>
                </p>
            </div>
        </div>       
        <div class="nav-tip">
            <a href="{:U('News/newslist')}">信息咨询</a>
            <div class="nav-list">
                <p>
                    <a href="#">政策法规</a>
                </p>
                <p>
                    <a href="#">市场动态</a>
                </p>
                <p >
                    <a href="#">业内资讯</a>
                </p>
            </div>
        </div>
        <div class="nav-tip">
            <a href="{:U('Team/teamlist')}">专家团队</a>
            <div class="nav-list">
                <p>
                    <a href="{:U('Expert/expertlist')}">专家信息</a>
                </p>
            </div>
        </div>  
            <div class="nav-tip">
                <a href="{:U('Demand/demandlist')}">企业需求</a>
            </div>
            <div class="nav-tip">
                <a href="{:U('Result/resultlist')}">科技成果</a>
            </div>
        <div class="nav-tip" >
            <a href="agentstrategy.html">教育培训</a>
            <div class="nav-list">
                <p>
                    <a href="#">学历教育</a>
                </p>
                <p>
                    <a href="#">职业资格教育</a>
                </p>
                 <p>
                    <a href="#">技能培训</a>
                </p>
            </div>
        </div>
    
        <div class="nav-tip">
            <a href="service.html">协同管理</a>
            <div class="nav-list">
                <p>
                    <a href="#">协同高校</a>
                </p>
                <p>
                    <a href="#">协同企业</a>
                </p>
                <p>
                    <a href="#">行业协会</a>
                </p>
            </div>
        </div>
    </div>
</div>