<!doctype html>
<html>
<head>
    <!-- create by cm -->
    <meta charset="utf-8"> 
    <link href="__PUBLIC__/css/home/index.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="__PUBLIC__/css/home/nav.css">
    <title>张家港工程项目协同创新服务平台</title>
    
    <!-- [if IE lt 10] -->
        <style>
            div,a,img{
                border: none;
            }
            .control{
                position: absolute;
                left: 50%;
                margin-left: -65px;
                top: 270px;
            }
            .control-btn{
                float: left;
                width: 13px;
                height: 13px;
                margin-left: 13px;
                border: 1px solid transparent;
                background: white;
            }
            .focus{
                background: blue;
            }
            .login_show{
                display: block;
            }
            .login_hidden{
                display: none;
            }
            #login_btns>button,#signup-btn{
                background: #5dc3fe;
            }
        </style>
    <!-- [endif] -->
</head>

<body>
    <include file = "Public/nav"/>
    <div id="banner-show">
        <div id="banner-container">
            <ul>
                <li index="0"><img src="__PUBLIC__/images/banner_300_1.png" alt=""></li>
                <li index="1"><img src="__PUBLIC__/images/banner_300_2.png" alt=""></li>
                <li index="2"><img src="__PUBLIC__/images/banner_300_3.png" alt=""></li>
            </ul>
        </div>
        <div class="control">
            <div class="control-btn focus"></div>
            <div class="control-btn"></div>
            <div class="control-btn"></div>
        </div>
    </div>
    <div id="index_main_container">
        <!-- 新闻部分 -->
        <div class="news_part">
            <p><span>新闻中心</span><a href="{:U('News/newslist')}">更多&gt;&gt;</a></p>
            <div class="picture_and_title">
                <volist id="newsPicture" name="newsPicture">
                    <div class="news_picture">
                        <span>
                            <a href="{:U('News/news',array('id'=>$newsPicture['news_id']))}"><img src="__ROOT__/{$newsPicture.picture}"></a>
                        </span>
                    
                        <div class="news_title">
                            <a href="{:U('News/news',array('id'=>$newsPicture['news_id']))}" >{$newsPicture.title}</a>
                        </div>
                    </div>
                </volist>
            </div>
            <ul>
                <volist id="newsInfo" name="newsInfo">
                    <li><a href="{:U('News/news',array('id'=>$newsInfo['news_id']))}" title="{$newsInfo.title}">{$newsInfo.title}</a></li>
                </volist>
            </ul>
        </div>

         <!-- 四图文 -->
        <ul id="index_four_part">
            <li>
                <h2>团队信息</h2>
                <div>
                    <img src="__PUBLIC__/images/index_icon_1.jpg" alt="">
                </div>
                <ul class="four_part_tip">
                    <li><a href="{:U('Expert/expertlist')}">专家信息</a></li>
                    <li><a href="{:U('Team/teamlist')}">团队信息</a></li>
                </ul>
            </li>
            <li>
                <h2>科技成果</h2>
                <div>
                    <img src="__PUBLIC__/images/index_icon_1.jpg" alt="">
                </div>
                <ul class="four_part_tip">
                    <li><a href="{:U('Result/resultlist')}">成果集锦</a></li>
                    <?php if (session('uid')): ?>
                        <li><a href="{:U('Result/add')}">成果发布</a></li>
                    <?php else: ?>
                        <li><a href="javascript:showLogin()">成果发布</a></li>
                    <?php endif ?>
                </ul>
            </li>
            <li>
                <h2>企业需求</h2>
                <div>
                    <img src="__PUBLIC__/images/index_icon_1.jpg" alt="">
                </div>
                <ul class="four_part_tip">
                    <li><a href="{:U('Demand/demandlist')}">需求集锦</a></li>
                    <?php if(session('uid')): ?>
                        <?php if(session('type') == 2):?>
                          <li><a href="{:U('Demand/add')}">需求发布</a></li>
                        <?php else: ?>
                            <li><a href="javascript:alert('只有企业用户可以发布');">需求发布</a></li>
                        <?php endif ?>
                    <?php else: ?>
                        <li><a href="javascript:showLogin()">需求发布</a></li>
                    <?php endif ?>
                </ul>
            </li>
            <li>
                <h2>协同管理</h2>
                <div>
                    <img src="__PUBLIC__/images/index_icon_1.jpg" alt="">
                </div>
                <ul class="four_part_tip">
                    <li><a href="{:U('Cooperation/index',array('type'=>3))}">协同高校</a></li>
                    <li><a href="{:U('Cooperation/index',array('type'=>1))}">行业协会</a></li>
                    <li><a href="{:U('Cooperation/index',array('type'=>2))}">协同企业</a></li>
                </ul>
            </li>
        </ul>

    </div>

    <include file = "Public/footer" />
    <script src="__PUBLIC__/js/jquery.min.js"></script>

    <script src="__PUBLIC__/js/index_slider.js"></script>
</body>
</html>
