<!doctype html>
<html>
<head>
    <!-- create by cm -->
    <meta charset="utf-8"> 
    <script src="__PUBLIC__/js/jquery.js"></script>
    <link href="__PUBLIC__/css/home/index.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="__PUBLIC__/css/home/nav.css">
    <title>张家港工程项目协同创新服务平台</title>
    
    <!-- [if IE lt 10] -->
        <style>
            div,a,img{
                border: none;
            }
            .control{
                position: absolute;
                left: 50%;
                margin-left: -65px;
                top: 270px;
            }

            .control-btn{
                float: left;
                width: 13px;
                height: 13px;
                margin-left: 13px;
                border: 1px solid transparent;
                background: white;
            }
            .focus{
                background: blue;
            }
        </style>
    <!-- [endif] -->
</head>

<body>
    <include file = "Public/nav"/>
    <div id="banner-show">
        <div id="banner-container">
            <ul>
                <li index="0"><img src="__PUBLIC__/images/banner_300_1.png" alt=""></li>
                <li index="1"><img src="__PUBLIC__/images/banner_300_2.png" alt=""></li>
                <li index="2"><img src="__PUBLIC__/images/banner_300_3.png" alt=""></li>
            </ul>
        </div>
        <div class="control">
            <div class="control-btn focus"></div>
            <div class="control-btn"></div>
            <div class="control-btn"></div>
        </div>
    </div>
    <div id="index_main_container">
        <!-- 新闻部分 -->
        <div id="news_part">
            <p><span>新闻中心</span><a href="{:U('News/newslist')}">更多&gt;&gt;</a></p>
            <div class="picture_and_title">
                <volist id="newsPicture" name="newsPicture">
                    <div class="news_picture">
                        <span>
                            <a href="{:U('News/news',array('id'=>$newsPicture['news_id']))}"><img src="__ROOT__/{$newsPicture.picture}"></a>
                        </span>
                    
                    <div class="news_title">
                        <a href="{:U('News/news',array('id'=>$newsPicture['news_id']))}">{$newsPicture.title}</a>
                    </div></div>
                </volist>
            </div>
            <ul>
                <volist id="newsInfo" name="newsInfo">
                    <li><a href="{:U('News/news',array('id'=>$newsInfo['news_id']))}">{$newsInfo.title}</a></li>
                </volist>
            </ul>
        </div>
        <!-- 四图文 -->
        <ul id="index_four_part">
            <li>
                <h2>专家团队</h2>
                <div>
                    <img src="__PUBLIC__/images/专家团队.jpg" alt="">
                </div>
                <ul class="four_part_tip">
                    <li><a href="{:U('Expert/expertlist')}">专家信息</a></li>
                    <li><a href="{:U('Team/teamlist')}">团队信息</a></li>
                </ul>
            </li>
            <li>
                <h2>科技成果</h2>
                <div>
                    <img src="__PUBLIC__/images/专家团队.jpg" alt="">
                </div>
                <ul class="four_part_tip">
                    <li><a href="{:U('Result/resultlist')}">成果集锦</a></li>
                    <?php if (session('uid')): ?>
                        <li><a href="{:U('Result/add')}">成果发布</a></li>
                    <?php else: ?>
                        <li><a  onclick="showLogin()">成果发布</a></li>
                    <?php endif ?>
                </ul>
            </li>
            <li>
                <h2>企业需求</h2>
                <div>
                    <img src="__PUBLIC__/images/专家团队.jpg" alt="">
                </div>
                <ul class="four_part_tip">
                    <li><a href="{:U('Demand/demandlist')}">需求集锦</a></li>
                    <?php if(session('uid')): ?>
                        <?php if(session('type') == 2):?>
                          <li><a href="{:U('Demand/add')}">需求发布</a></li>
                        <?php else: ?>
                            <li><a href="javascript:void(0);" onclick="waring()">需求发布</a></li>
                        <?php endif ?>
                    <?php else: ?>
                        <li><a onclick="showLogin()">需求发布</a></li>
                    <?php endif ?>
                </ul>
            </li>
            <li>
                <h2>协同管理</h2>
                <div>
                    <img src="__PUBLIC__/images/专家团队.jpg" alt="">
                </div>
                <ul class="four_part_tip">
                    <li><a href="{:U('Cooperation/index',array('type'=>3))}">协同高校</a></li>
                    <li><a href="{:U('Cooperation/index',array('type'=>1))}">行业协会</a></li>
                    <li><a href="{:U('Cooperation/index',array('type'=>2))}">协同企业</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <include file = "Public/footer" />
    <script>
        $(function(){

            $('#nav_index').addClass('nav_active').siblings().removeClass('nav_active');
           
            function nextImg () {
                var container = $('#banner-container');
                var moveWidth = ($("#banner-container li").width())*-1;
                container.stop().animate({left:moveWidth},'slow',function(){
                    var firstImg = $('#banner-container ul li').first();
                    container.find("ul").append(firstImg);
                    $(this).css('left',"0px");
                });
                 btnCircle();
            }
            function btnCircle(){
                var btnNum = $('#banner-container ul li').first().attr("index");
                $(".control .control-btn").siblings().removeClass("focus");
                $(".control .control-btn").eq((btnNum+1)%3).addClass("focus");
            }
            setInterval(nextImg,5000);

            var animateEnd = 1;
            $('.control-btn').click(function(){
                if(animateEnd == 1){ // 表示图片不在切换
                    $(this).addClass('focus').siblings().removeClass('focus');
                    var nextIndex = $(this).index();
                    console.log("nextIndex = "+nextIndex);
                    // 获取当前显示图片序列
                    var currentIndex = $('#banner-container li').first().attr('index');
                    // 保存当前图片
                    var curr = $("#banner-container li").first().clone();
                    if(currentIndex < nextIndex){
                        for(var i=0; i<nextIndex-currentIndex;i++){
                            var firstImg = $('#banner-container li').first();
                            // 将目标图片之前的图片加到后面
                            $('#banner-container ul').append(firstImg);
                        }
                        // 结束循环，当前效果
                        // console.log("结束循环 ："+animateEnd);
                        $("#banner-container ul").prepend(curr);
                        var moveWidth = ($('#banner-container li').width())*-1;
                        if(animateEnd == 1){    
                            animateEnd = 0;//表示开始切换，期间不允许再次切换
                            $('#banner-container').stop().animate({left:moveWidth},"slow",function(){
                                $("#banner-container ul li").first().remove();
                                $("#banner-container").css("left","0px");
                                animateEnd = 1;
                            });
                        }
                    }
                    else{
                        // 保存最后一张图片
                        var curt = $("#banner-container li").last().clone();
                        for(var i = 0; i < currentIndex - nextIndex;i++){
                            var lastItem = $("#banner-container li").last();
                            $("#banner-container ul").prepend(lastItem);
                        }
                        $("#banner-container ul").append(curt);
                        var moveWidth = ($("#banner-container li").width())*-1;
                        $("#banner-container").css("left",moveWidth);
                        if(animateEnd = 1){
                            $("#banner-container ul li").last().remove();
                            animateEnd = 0;
                            $("#banner-container").stop().animate({left:"0px"},"slow",function(){
                                animateEnd = 1;
                            });
                        }
                    }
                }
            });
        });
        $(function(){
            $(".news_picture").hide().first().fadeIn();
            var y=0
            var z=setInterval(function(){
                if(++y==5){y=0;}
                $(".news_picture").eq(y).fadeIn().siblings().fadeOut();
            },5000);
        });
		function waring(){
			alert("只有企业用户才能发布需求");
		}
    </script>
</body>
</html>
