<!DOCTYPE html>
<html>
<head>
    <!-- create by cm -->
    <meta charset="utf-8">
    <title>张家港工程项目协同创新服务平台</title>
    
    <link rel="stylesheet" href="__PUBLIC__/css/home/nav.css" type="text/css">
    <link rel="stylesheet" href="__PUBLIC__/css/home/listpage.css" type="text/css">
    <link rel="stylesheet" href="__PUBLIC__/css/home/teamlist.css" type="text/css">
    <!-- [if IE lt 10] -->
        <link rel="stylesheet" href="__PUBLIC__/css/home/ltIE8.css">
    <!-- [endif] -->
</head>

<body>
    <include file="Public/nav" />
    <div class="bannerbox">
        <img src="__PUBLIC__/images/team_bk.png"> 
    </div>
    <div class="infolist-main">
        <div class="leftmain">
            <div class="mainlefttitle"><img src="__PUBLIC__/images/team.png"></div>
                <div class="add"> 
                    <?php if (session('uid')): ?>
                        <?php if (session('type') == 1): ?>
                            <a href="{:U('Team/add')}">
                                <img src="__PUBLIC__/images/add_team.png" alt="">
                            </a>
                        <?php else: ?>
                            <a href="javascript:void(0);" onclick="waring()">
                                <img src="__PUBLIC__/images/add_team.png" alt="">
                            </a>                       
                        <?php endif ?>                    
                    <?php else: ?>
                        <a  onclick="showLogin()">
                            <img src="__PUBLIC__/images/add_team.png" alt="">
                        </a>
                    <?php endif ?>                    
                </div>
                <div class="mainbtn">
              <!--   <div class="navlist table_head active" >
                    <a href="#">专家团队</a>
                </div> -->
                <div class="navlist active">
                    <a href="{:U('Team/teamlist')}">团队信息</a>
                </div>
                 <div class="navlist">
                    <a href="{:U('Expert/expertlist')}">专家信息</a>
                </div>
            </div>
        </div>
        <div class="rightmain">
            <div class="top-tip">
                <div id="page-title">
                    <img src="__PUBLIC__/images/download_09.png">团队信息</div>
                <div id="position">
                    <a href="#">团队信息</a>
                     <span>&nbsp;>&nbsp;</span>
                     <a href="__ROOT__">首页</a>
                    <span>您的位置：</span>
                    <img src="__PUBLIC__/images/download_06.png">
                </div>
            </div>
            <div class="info-type">
                <span style="font-size:16px;">研究领域：</span>
                <a href="{:U('Team/teamlist')}">全部</a>&nbsp;
                <a href="{:U('Team/teamlist',array('type' => 1))}">结构工程</a>
                <a href="{:U('Team/teamlist',array('type' => 2))}">市政工程</a>&nbsp;
                <a href="{:U('Team/teamlist',array('type' => 3))}">防震减灾及防护工程</a>&nbsp;
                <a href="{:U('Team/teamlist',array('type' => 4))}">桥梁与隧道公程</a>&nbsp;
                <a href="{:U('Team/teamlist',array('type' => 5))}">岩土工程</a>&nbsp;
                <a href="{:U('Team/teamlist',array('type' => 7))}">其他</a>
            </div>
            <hr />
            <volist name = "list" id="list">
                <div class="info-list <?php if($i % 2 == 0) echo ' grey';?>">
                    <img src="__PUBLIC__/images/demand_default.png" alt="">
                    <div class="team-info">
                        <h4>
                           <span>团队名称：</span><a href="{:U('Team/team',array('id'=>$list['teamid']))}" class="control-title-width">{$list.teamname}</a>
                        </h4>
                        <p>
                           工作单位：{$list.workpalce}
                        </p>
                        <p>
                           <span>研究领域：</span><span title="{$list.team_research}" class="control-title-width">{$list.team_research}</span>
                        </p>
                        <p>
                           <span>研究方向：</span><span title="{$list.research_content}" class="control-title-width">{$list.research_content}</span>
                        </p>
                    </div>  
                    <div class="other-info">
                        <p>
                            组队时间：{$list.setup_time}
                        </p>
                        <!-- <p>关注度：1 </p> -->
                        <p style="margin-top:10px;">
                        <?php if (session('uid')): ?>
                            <a href="{:U('Public/link',array('id'=>$list['teamid'] ,'linkType'=>2))}" target="_black">
                                <button>我要联系</button>
                            </a>
                        <?php else: ?>
                            <a  onclick="showLogin()">
                                <button>我要联系</button>
                            </a>
                        <?php endif ?>
                        </p>
                   </div>            
                </div>
            </volist>
            
            <div id="paging"></div>
        </div>
    </div>
    <include file="Public/footer" />
    
    <script src="__PUBLIC__/js/list_footer.js"></script>

    <script>
        function waring () {
            alert("只有专家用户有权限组建团队");
        }

        var hereNode = document.getElementById('nav_expert');
        var childnode = hereNode.parentNode.childNodes.className = "nav-tip";
        hereNode.className = " nav-tip nav_active ";
    </script>
</body>
</html>
