<!DOCTYPE html>
<html>
    <!-- create by cm -->
<head>
    <script src="__PUBLIC__/js/jquery.min.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/css/home/research.css">
    <link rel="stylesheet" href="__PUBLIC__/css/home/nav.css">
    <meta charset="utf-8">
    <title>张家港工程项目协同创新服务平台</title>
    <style>
        button{
            background: #72CEDD;
            color: #FAFDFD;
            font-weight: 700;
            border: 2px solid #0999B1;
            border-radius: 5px;
            padding: 5px 10px;
            cursor: pointer;
            margin-top: 10px;
        }
        button:hover{
            background: #0F93A9;
            color: white;
        }
    </style>
</head>

<body>
    <include file="Public/nav" />

    <div class="main">
        <img src="__PUBLIC__/images/download_06.png">
        <span>您的位置：</span>
        <a href="__ROOT__">首页</a>
        <span>></span>
        <a href="{:U('Team/teamlist')}">专家团队</a>
        <span>>&nbsp;团队信息</span>
        
        <h3 class="caption">团队信息</h3>
        <table>
            <tr>
                <td class="logo" rowspan="8">
                    <img src="__ROOT__/{$teamInfo.team_logo}" alt="">
                </td>
                <td colspan="2" height="40px" style="text-align:center;"><b class="research_title">{$teamInfo.teamname}</b></td>
            </tr>
            <tr>
                <td class="tip">工作地点</td>
                <td class="content">{$teamInfo.workplace}</td>
            </tr>
             <tr>
                <td class="tip">成立时间</td>
                <td  class="content">{$teamInfo.setup_time}</td>
            </tr>
             <tr>
                <td class="tip">研究领域</td>
                <td class="content">{$teamInfo.team_research}</td>
            </tr>
             <tr>
                <td class="tip">研究方向</td>
                <td class="content">{$teamInfo.research_content}</td>
            </tr>
            <tr>
                <td class="tip">团队人数</td>
                <td class="content">{$teamInfo.member_num}</td>
            </tr>
            <tr>
                <td colspan="2" class="link_img">
                    <?php if (session('uid')): ?>
                        <a href="{:U('Public/link',array('id'=>$teamInfo['teamid'] ,'linkType'=>2))}" target="_black">
                            <button>我要联系</button>
                        </a>
                    <?php else: ?>
                        <a href="{:U('Public/login')}" target="_black">
                            <button>我要联系</button>
                        </a>
                    <?php endif ?>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td class="tip">团队简介</td>
                <td class="research_info">
                    <span>
                        {$teamInfo.teaminfo}
                    </span>
                   
                </td>
            </tr>
        </table>
        <h3 class="caption">团队项目</h3>
        <table class="table-fixed">
            <tr>
                <th class="research_info">科研项目</th>
                <th class="tip">项目类型</th>
            </tr>
            <volist id = "research" name = "research">
                <tr>
                    <td class="research_info center ">
                        <a href="{:U('Result/result',array('id'=>$research['result_id']))}">{$research.result_name}</a>
                    </td>
                    <td class="tip">
                        <a href="#">{$research.research_level}</a>
                    </td>
                </tr>
            </volist>
            
        </table>
        <h3 class="caption">团队荣誉</h3>
        <table class="table-fixed">
            <tr>
                <th class="research_info">获奖/专利名称</th>
                <th class="tip">获奖时间</th>
            </tr>
            <volist id = "award" name = "award">
                <tr>
                    <td class="research_info center ">
                        <a href="{:U('Result/result',array('id'=> $award['research_id']))}">{$award.award_title}</a>
                    </td>
                    <td class="tip">{$award.get_time}</td>
                </tr>
            </volist>
            
        </table>
        <h3 class="caption">成员信息</h3>
        <table class="table-fixed">
            <tr>
                <th class="tip">队员</th>
                <th class="tip">职称</th>
                <th class="owner_info">研究领域</th>
            </tr>
            <!-- 队员信息 -->
            <volist id="memberInfo" name="memberInfo">
                <tr>
                    <?php if ($agree == 1): ?>
                        <td class="tip">
                            <a href="{:U('Expert/expert',array('id'=>$memberInfo['uid']))}">
                                {$memberInfo.member_name}
                            </a>
                        </td>
                    <?php else: ?>
                        <td class="tip"> {$memberInfo.member_name}</td>
                    <?php endif ?>
                    <td class="tip"> {$memberInfo.level}</td>
                    <td class="owner_info center">
                        {$memberInfo.research}
                    </td>
                </tr>
            </volist>
        </table>
        <h3 class="caption">团队联系人</h3>
        <table class="table-fixed">
            <tr>
                <td class="tip">姓名</td>
                <?php if ($agree == 1): ?>
                    <td class="owner_info">
                        <a href="{:U('Expert/expert',array('id'=>$leader['uid']))}">
                            {$leader.realname}
                        </a>
                    </td>
                <?php else: ?>
                    <td class="owner_info">{$leader.realname}</td>
                <?php endif ?>
                <td class="tip">办公电话</td>
                <td class="owner_info">{$leader.telphone}</td>
            </tr>
            <tr>
                <td class="tip">手机</td>
                <td class="owner_info">{$leader.mobile_phone}</td>
                <td class="tip">E-mail</td>
                <td class="owner_info">{$leader.email}</td>
            </tr>
            <tr>
                <td class="tip">单位</td>
                <td class="owner_info">{$leader.work_college}</td>
                <td class="tip">职务</td>
                <td class="owner_info">{$leader.jobname}</td>
            </tr>
        </table>
    </div>
    <include file="Public/footer" />

</body>
</html>
