<!DOCTYPE html>
<html>
<head>
<script src="__PUBLIC__/js/jquery.min.js"></script>
<link href="__PUBLIC__/css/css.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="__PUBLIC__/css/nav.css">
<meta charset="utf-8">
<title>服务支持</title>
</head>

<body>
    <include file="Public/nav" />
    <div class="bannerbox">
    	<div class="banner">
        	<img src="__PUBLIC__/images/servicebanner.png">   
        </div>
    </div>
    <div class="mainbox">
    	<div class="main">
            <div class="leftmain">
                <div class="mainlefttitle"><img src="__PUBLIC__/images/service_03.png"></div>
            </div>
            <div class="rightmain">
            	<div class="rightmaintitle">
                	<div class="rightmaintitleleft">
                        <img src="__PUBLIC__/images/download_09.png">
                        <h1>服务与支持</h1>
                      <p>&nbsp;</p>
                    </div>
                    <div class="rightmaintitleright">
                    	<img src="__PUBLIC__/images/download_06.png">
                        <p>您的位置：</p>
                        <a href="index.html">首页</a>
                        <p>&nbsp;>&nbsp;</p>
                        <a href="">协同管理</a>
                        <p>&nbsp;>&nbsp;</p>
                        <a href="">服务与支持</a>
                        
                    </div>
                </div>
                <div class=" line2"></div>
            </div>
        </div>
    </div>
    <include file="Public/footer" />
</body>
</html>
