a, abbr, acronym, address, applet, article, aside, audio, b,body, 
canvas, caption, cite, code,datalist, dd, del, details, dl, div, dt, 
em, embed, fieldset,footer, form, 
h1, h2, h3, h4, h5, h6, header, html, 
i, iframe, img, label, legend, li, 
meter, nav, object, ol, output, p, pre, progress, q, 
s, samp, section, small, span, source, strike, strong, sub, sup, 
table, tbody, tfoot, thead, th, tr, tt, u, ul{	
	margin: 0;	
	padding: 0;
}

body{ 
	font-size:12px;
	font-family:"微软雅黑"; 
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

a{ 
	text-decoration:none; 
	cursor: pointer;
}
ul,dl,ol{
	list-style: none;
}
#banner-show{
	margin: 0 auto;
	position: relative;
	width: 100%;
	min-width: 1100px;
	height: 300px;
	overflow: hidden;
}

#banner-container{
	width: 5760px;
	position: absolute;
	left: 0;
	top: 0;
}

#banner-container ul{
	float: left;
}

#banner-container ul li{
	float: left;
	max-width:1920px;
	min-width: 1100px;
	height: 300px;
}

#banner-container img{
	min-width: 1100px;
	width: 100%;
	vertical-align: bottom;
}

.control{
	position: absolute;
	left: 50%;
	margin-left: -65px;
	top: 270px;
}

.control-btn{
	float: left;
	width: 13px;
	height: 13px;
	margin-left: 13px;
	border: 1px solid transparent;
	border-radius: 50%; 
	background: white;
}

.focus{
	background: blue;
}


#index_main_container{
    width: 1100px;
    margin: 20px auto; 
    overflow: hidden;   
}
.news_part{
    float: left;
    width: 600px;
	height: 344px;
    border: 1px solid #d0d5d9;
    margin: 0 0 10px 10px;
    box-sizing: border-box;
}
.news_part >p{
    font-size: 18px;
    font-weight: bold;
    padding: 0 25px ;
    height: 40px;
    line-height: 40px;
    border-top: 1px solid #d0d5d9;
    border-bottom: 1px solid #d0d5d9;
	background-color: #f1f6f9;
}
 .news_part > p > a{
    float: right;
    line-height: 40px;
 }
 
.picture_and_title{
	float: left;
	width: 300px;
	margin: 20px 10px;
	position:relative;
}
.news_picture,.case_picture{  
	width: 300px; 
	height: 210px; 
	position:absolute;
	top:0; left:0;
}
.news_picture img,.case_picture img{ 
	max-width: 300px;
	max-height: 210px;
	width: 100%;
	height: 100%;
}
.news_title,.case_title{
	text-align: center;
	width: 100%;
}
.news_part a,.index_four_part a{
	color: #000;
	font-size: 14px;
	height: 25px;
	line-height: 25px;
}
.news_part>ul a,.four_part_tip a{
	display: inline-block;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;
}
ul.four_part_tip a{
	max-width: 200px;
}
.news_part a:hover,.index_four_part a:hover{
	color: #009CD7;
}
.news_part>ul{
	float: right;
	padding: 10px;
	width: 255px;
}
.news_part>ul>li, ul.index_four_part li{
	text-align: left;
	padding: 0 10px; 
	border-bottom: 1px dotted #d0d5d9;
}


ul#index_four_part{
	float: left;
	overflow: hidden;
	width: 480px;
}
ul#index_four_part>li{
	float: left;
	margin: 0 0 10px 10px;
	width: 230px;
	height: 167px;
	border: 1px solid #d0d5d9;
	box-sizing:border-box;
	border-radius: 5px;
	text-align: center;
	background-color: #f1f6f9;
}
ul#index_four_part>li h2{	
	font-size: 20px;
	height: 50px;
	line-height: 50px;
}

ul#index_four_part>li a{
	color: #000;
}
ul#index_four_part>li a:hover{
	color: #f54c00;
}

ul#index_four_part>li div{
	width: 100px;
	height: 100px;
	text-align: center;
	float: left;
}
ul#index_four_part>li>div>img{
	-webkit-transition: transform 0.4s linear;
	-o-transition: transform 0.4s linear;
	transition: transform 0.4s linear;
}
ul#index_four_part>li:hover img{
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}
ul#index_four_part>li>ul{
	float: left;
}
ul#index_four_part>li li>a{
	display: inline-block;
	width: 100%;
	height: 35px;
	line-height: 35px;
	font-size: 17px; 
}