/*  create by cm  */
*{
	margin: 0;
	padding: 0px;
	font-family:"微软雅黑"; 
}

a{
	text-decoration: none;
}
.topbox{
	width: 100%;
	background-color: #F7F7F7;
}
.top{ 
	width:1100px; 
	margin:0 auto; 
	position: relative;
}
.topbox .top img{
	max-height: 80px;
}
.login-tip{
	position: absolute;
	right: 20px;
	top: 30px;
}
.login-tip a,.log-tip span{
	color: #5A5656;
	font-size: 16px;
}
.nav-background{
	width: 100%;
	background-color: #2A9ECF;
}
.nav{
	width: 1000px;
	height: 51px;
	margin: 0 auto;
}
.nav .nav-tip{
	float: left;
	position: relative;
}
.nav-tip>a{
	float: left;
	font-size: 18px;
	color: white;
	padding: 15px 30px;
}
.nav-list{
	position: absolute;
	width: 132px;
	top: 51px;
	z-index: 100;
	background: #F7F7F7;
	text-align: center;
	display: none;
}
.nav-tip:hover .nav-list{
	display: block;
}
.nav-tip>a:hover{
	background: #146FBD;
}
.nav-list p:hover{
	background: #146FBD;
}
.nav-list p:hover a{
	color: #fff;
}
.nav-list a{
	color: grey;
	font-size: 16px;
	line-height: 30px;
}


#footerbox{ 
	width: 100%;
	background-image:url(../../images/footerbackground.png);
/*	position: fixed;
	bottom: 40px;*/
}
#footer{
	width:1000px;
	margin-left:auto; 
	margin-right:auto; 
	overflow:hidden;
}
#footerlist{ 
	width:120px; 
	height:170px; 
	float:left;
}
#footerlist a h1{ 
	font-size:16px; 
	color:#666; 
	margin-top:30px; 
	margin-bottom:20px; 
	line-height:16px;
}
#footerlist a p{
	color:#666; 
	line-height:22px;
}
#footer img{ 
	margin-top:27px; 
	float:right; 
	margin-left:15px;
}
#bottombox{
	width: 100%;
	height: 30px;
/*	position: fixed;
	bottom: 0;*/
}
#bottom{
	width: 1100px;
	margin: 0 auto;
	text-align: center;
}
#bottom p{
	font-size: 12px;
}
div#footerlist p:hover{
	background-color: #999;
}