/*  create by cm  */
body{
    background-color: #eef7fa;
}
.main{
    width: 1098px;
    border: 1px solid #64b748;
    margin: 0 auto;
    background-color: white;
    margin-top: 30px;
    margin-bottom: 40px;
}
#position{
    padding:10px 5px;
}
#position *{
    color: #000;
}
.caption{
    background-color: #69e2f8;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px 35px;
}
.research_title{
    color: black;
    font-size: 18px;
}
.research_info{
    width: 600px;
    font-size: 14px;
}
.research_info>span{
    line-height: 25px;
}
table{
    width: 1099px;
    border-top: 1px solid #64b748;
    border-left: 1px solid #64b748;
    border-spacing: 0px;
    padding: 0;
}
td,th{
    border-right: 1px solid #64b748;
    border-bottom: 1px solid #64b748;
    padding-left: 10px;
    vertical-align: middle;
}
h3{
    margin-top: 15px;
}
.table-fixed{
    table-layout:fixed;
}
.logo{
    width: 490px;
    height: 400px;
    text-align: center;
    background-color: #e8eef0;
}
.logo img{
    max-width: 400px;
}
.tip{
    text-align: center;
    width: 120px;
    height: 40px;
}
.content{
    font-size: 14px;
    padding-left: 5px;
}
.link_img{
    width: 490px;
    text-align: center;
}
.link_img button.result_link{
    margin-top: 10px;
    padding: 10px 25px;
    background: #72CEDD;
    color: #FAFDFD;
    font-weight: 700;
    font-size: 20px;
    border: 2px solid #0999B1;
    border-radius: 5px;
    cursor: pointer;
}
.link_img button.result_link:hover{
    background: #0F93A9;
    color: white;
}


.owner_info{
    width: 400px;
    padding: 5px 0 5px 10px;
}
.center{
    text-align: center;
}