<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="renderer" content="webkit">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- <link rel="icon" href="__PUBLIC__/favicon.ico"> -->
	<!-- Bootstrap core CSS -->
	<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
	<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
	<!--[if lt IE 9]><script src="__PUBLIC__/js/ie8-emulation-modes-warning.js"></script><![endif]-->

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="__PUBLIC__/assets/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="__PUBLIC__/assets/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

	<!-- Custom styles for this template -->

	<title>welcome</title>
</head>

<body>
	<div class="jumbotron">
		<div class="container">
			<h1>欢迎使用<small>后台管理</small></h1>
			<div id="main">
				<p class="lead">现在时间
					<?php echo date( 'Y-m-d H:m:s'); ?>
				</p>
			</div>
		</div>
	</div>

	<script src="__PUBLIC__/js/jquery-1.11.1.min.js"></script>
	<script src="__PUBLIC__/js/bootstrap.min.js"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="__PUBLIC__/assets/ie10-viewport-bug-workaround.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/master/fixiframe.js"></script>
</body>
</html>
