<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>专家注册</title>
	<script src="__PUBLIC__/js/jquery.min.js"></script>
	<script src="__PUBLIC__/js/signup.js"></script>
	<link rel="stylesheet" href="__PUBLIC__/css/signup.css">  
	<link rel="stylesheet" href="__PUBLIC__/css/nav.css">
    
</head>
<body>
	<incude file="Public/nav" />
	<form id="expert" action="{:U('Signup/do_signup_expert')}" method="post" enctype="multipart/form-data">
		<div class="main">
			 <div class="line">
				<label for="logo">上传照片</label>
				<input type="file" id="logo" name="img" accept="image/*">
				<div class="upload"><img id="preview" src="" alt=""></div>
			</div>
			<div class="line">
				<label for="username">用户名</label>
				<input type="text" class="line-input" required id="username" name="username" ><span id="nameError" class="must">*</span>
			</div>
			<div class="line">
				<label for="pwd">密码</label>
				<input type="password" class="line-input" required id="pwd" name="pwd"><span class="must">*</span>
			</div>
			 <div class="line">
				<label for="sure_pwd">确认密码</label>
				<input type="password" class="line-input" required id="sure_pwd"><span id="pwdError" class="must">*</span>
			</div>
			<div class="line">
				<label for="realname">真实姓名</label>
				<input type="text" class="line-input" required id="realname" name="realname"><span class="must">*</span>
			</div>
			<div class="line">
				<label for="identify">身份证号</label>
				<input type="text" class="line-input" required id="identify" name="identify"><span id="idError" class="must">*</span>
			</div>

			<div class="line">
				<label for="jobtype">职称</label>
				<select class="line-input" name="level" id="jobtype">
					<option value="1">教授</option>
					<option value="2">副教授</option>
					<option value="3">研究员</option>
					<option value="4">副研究员</option>
					<option value="5">高级工程师</option>
					<option value="6">其他类正高级</option>
					<option value="7">其他类副高级</option>
					<option value="8">中级</option>
					<option value="9">初级及以下</option>
				</select><span id="idError" class="must">*</span>
			</div>
			<div class="line">
				<label for="research" style="float:left;">研究方向</label>
				 <input type="checkbox" name="research" value="1">电子信息
				<input type="checkbox" name="research" value="2">机械设计与制造
				<input type="checkbox" name="research" value="3">新能源与环保<br>
				<input type="checkbox" name="research" value="4">生物技术与医药
				<input type="checkbox" name="research" value="5">新材料
				<input type="checkbox" name="research" value="6">现代农业
				<input type="checkbox" name="research" value="7">其他 <span id="" class="must">*</span>
			</div>
			 <div class="line">
				<label for="college">院校名称</label>
				<input type="text" class="line-input" id="college" name="college">
			</div>
			<div class="line">
				<label for="jobname">职务</label>
				<input type="text" class="line-input" id="jobname" name="jobname">
			</div>
			 <div class="line">
				<label for="phone">手机号</label>
				<input type="text" class="line-input" required id="phone" name="phone" placeholder="例:13866665666"><span id="phoneError" class="must">*</span>
			</div>
			<div class="line">
				<label for="email">邮箱</label>
				<input type="email" class="line-input" required id="email" name="email"><span class="must">*</span>
			</div>
			<div class="line textarea">
				<label for="info">个人简介</label>
				<textarea name="info" id="info"></textarea>
			</div>
			<div class="sub">
				<input type="submit" value="提交">
			</div>
		</div>
	</form>
	<include file = "Public/footer"/>
	<script>
		$(function() {
			$('#username').change(function(event){
				if($('#username').val().trim() != ""){
					var un = $('#username').val();
					$.ajax({
						type:"post",
						url:"__ROOT__/index.php/Signup/checkName",
						dataType:'json',
						data:{username:un}
						})
					.done(function(data) {
						console.log("success",data);
						if(data.code == 0){
							$('#nameError').html("*");
						}else{
							$("#nameError").html("用户名已存在");
						}
					})
					.fail(function(XMLHttpRequest, textStatus, errorThrown){
						$('#pwdError').html("error");  
						console.log("status = "+XMLHttpRequest.status);  // 200
						console.log("readyState = "+XMLHttpRequest.readyState); //4
						console.log("textStatus = "+textStatus);  //parsererror
					})
					.always(function() {
						console.log("complete");
					});
				}
			});
		});
	</script>
</body>
</html>